body {
    background-color: #30081e
    /* #520e32 */
}
  h1 {
      color: white;
      font-family: "veSnell Roundhand", cursive;
      font-size: 500%;
      text-align: center;
      border: 5px solid white;
      padding: 30px;
      margin: 50px;
  }
  ul {
      text-align: center;
      color: white;
      font-family: "veSnell Roundhand", cursive;
      font-size: 110%;

  }
  /* poster {
    width: 1000;
    height: 400;
  } */
  p {
    color: black;
  }

