body {
    background-color: #e4c9ff
}
  h1 {
      color: white;
      font-family: "veSnell Roundhand", cursive;
      font-size: 500%;
      text-align: center;
      border: 5px solid white;
      padding: 30px;
      margin: 50px;
  }
  ul {
      text-align: center;
      color: white;
      font-family: "veSnell Roundhand", cursive;
      font-size: 110%;

  }
  p {
    color: black;
  }

